<div class="py-5 container-fluid d-flex justify-content-center">
  <%= link_to "<<", request.referer.present? ? request.referer : root_path, class: "text-white border rounded-circle p-2 pt-2 text-decoration-none me-5 g-transaction-cta" %>
  <h1 class="text-light">Sign Up<h1>
</div>
<%= render partial: 'shared/form' %>